# Functional Programming
#### 8. Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [6]:
def fun(arr):
    ans = list(set(arr))
    return ans
arr = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
ans = fun(arr)
print(ans)

[1, 2, 3, 4]

#### 1. Write a python program to print pascal triangle

In [58]:
def fun(n):
    ls = []
    # t = [[1]*5]*5
    # for i in t:
    #     for j in i:
    #         print(j, end = " ")
    #     print()
    for i in range(n):
        tls = [1] * (i + 1)
        ls.append(tls)
    for i in range (2, n):
        for j in range(1, i):
            ls[i][j] = ls[i - 1][j - 1] + ls[i - 1][j]
    for i in range(len(ls)):
        for j in range(0, n - i - 1):
            print(" ", end = "")
        for j in range(len(ls[i])):
            print(ls[i][j], end = " ")
        print()
n = 5
fun(n)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

#### 15. Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

In [52]:
def fun(s):
    lst = sorted(s.split("-"))
    ans = "-".join(lst)
    return ans
string = "green-red-yellow-black-white"
ans = fun(string)
print(ans)

black-green-red-white-yellow

# Lambda Functions
#### 12. Write a Python program to rearrange positive and negative numbers in a given array using Lambda.

In [15]:
arr = [-1, 2, -3, 5, 7, 8, 9, -10]
result = sorted(arr, key = lambda i: 0 if i == 0 else -1 / i)
print(result)

[2, 5, 7, 8, 9, -10, -3, -1]

# Map 
#### 17. Write a Python program to convert a given list of tuples to a list of strings using the map function.

In [22]:
def fun(lst):
    res = list(map(" ".join, lst))
    # here in .join, the function join is not called by (), as the function as only passed as an argument, rather than calling inside of the map
    # map function applies the function provided as first argument to each element present inside the iterable,
    # in this case the iterable is the list of tuples having string,
    # and the .join is applied on the iterable so, there is a tuple inside of the list
    # so to sum up=> map applies function on each elelment of iterable and join method joins the string inside of iterable
    return res
lst = [('a', 'b'), ('c', 'd'), ('e', 'f')]
lst = list(map(list, lst))
print(lst)
ans = fun(lst)
print(ans)

[['a', 'b'], ['c', 'd'], ['e', 'f']]
['a b', 'c d', 'e f']

# Itertools
#### 44. Write a  Python program to extract a non-zero block from a given integer list.

In [36]:
from itertools import groupby
def solution1(arr):
    grouped = groupby(arr, lambda x: x == 0)
    res = []
    for key, val in grouped:
        if not key:
            res.append(list(val))
    return res
def solution2(arr):
    res = [list(val) for key, val in groupby(arr, lambda x: x == 0) if not key]
    # res = [list(x[1]) for x in groupby(arr, lambda x: x == 0) if not x[0]]
    return res
lst = [1, 0, 0, 2, 3, 0, 4, 5, 0]
print(solution1(lst))
print(solution2(lst))

[[1], [2, 3], [4, 5]]
[[1], [2, 3], [4, 5]]

#### Compute the Sum of Digits for Each Number in a List

In [46]:
import itertools

def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

numbers = [123, 456, 789, 101]
result = list(itertools.starmap(sum_of_digits, zip(numbers)))
# the zip conversion happens here as it converts the integer into a tuple and in starmap, second argument is an interable, so thats why
print(result)

[6, 15, 24, 2]

# Filter
#### 12. Write a Python program that creates a list of tuples, each containing a city name and its population. Use the filter function to extract cities with a population greater than 2 million.

In [77]:
def check(arr):
    return arr[1] > 2000000
def solution(cities):
    # ans = [x for x in cities if x[1] > 2000000] # using list comprehension
    # ans = list(filter(lambda x: x > 2000000, cities))
    ans = list(filter(check, cities))
    # filter method itself passes iterable as argument to the function provided
    return ans
cities = [
    ("New York", 8500000),
    ("Los Angeles", 4000000),
    ("Chicago", 2700000),
    ("Houston", 2300000),
    ("Phoenix", 1600000),
    ("Philadelphia", 1500000),
    ("San Antonio", 1500000),
]
print(solution(cities))

[('New York', 8500000), ('Los Angeles', 4000000), ('Chicago', 2700000), ('Houston', 2300000)]