# Learning

In [170]:
import pandas as pd
arr = {'name': ['a', 'b', 'c'], 'age': [1, 2, 3]}
print(pd.DataFrame(arr))

  name  age
0    a    1
1    b    2
2    c    3

In [172]:
import pandas as pd
arr = pd.Series( ['a', 'b', 'c', 'd', 'e'], index = [1, 2, 3, 4, 5], name = "panda series")
print(arr)
brr = pd.Series( ['a', 'b', 'c', 'd', 'e']) # taking the default indexing as 0, 1, 2 .......
print(brr)

1    a
2    b
3    c
4    d
5    e
Name: panda series, dtype: object
0    a
1    b
2    c
3    d
4    e
dtype: object

# Pandas Data Series

#### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [174]:
import pandas as pd
# df = pd.DataFrame({'name': ['x', 'y', 'z'], 'age': [1, 2, 3]})
df = pd.Series(['x', 'y', 'z'])
print(df)
# so to display array like object containing an array of data, use Series

0    x
1    y
2    z
dtype: object

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [176]:
import pandas as pd
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
print(s1 + s2)
print(abs(s1 - s2))
print((s1 * s2) ** 2)
print(s1 / s2)

0    5
1    7
2    9
dtype: int64
0    3
1    3
2    3
dtype: int64
0     16
1    100
2    324
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64

#### 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [50]:
import pandas as pd
dct = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
sr = pd.Series(dct)
print(sr)

a    100
b    200
c    300
d    400
e    800
dtype: int64

#### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [57]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
print(df)
df_series = df.iloc[:, 0]
print()
print(df_series)

   a  b
0  1  4
1  2  5
2  3  6

0    1
1    2
2    3
Name: a, dtype: int64

#### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [153]:
import pandas as pd

dct1 = {'W': [80.0, 86.0, 75.0, 68.0, None], 'X': [78, 75, None, 80, 86], 
        'Y': [84, None, 90, 86, 86], 'Z': [86, 97, 96, None, 83]}
df = pd.DataFrame(dct1)
print("DataFrame:")
print(df)

sr1 = pd.Series([68, 75, 86, 80, None])
print("\nSeries:")
print(sr1)

lst = []
for i in range(len(dct1)):
    row_comparison = []
    for col in df.columns:
        if pd.isna(df.loc[i, col]) and pd.isna(sr1[i]):
            row_comparison.append(False)
        else:
            row_comparison.append(df.loc[i, col] != sr1[i])
    lst.append(row_comparison)

ans = pd.DataFrame(lst, columns=df.columns)
print("\nComparison result:")
print(ans)

DataFrame:
      W     X     Y     Z
0  80.0  78.0  84.0  86.0
1  86.0  75.0   NaN  97.0
2  75.0   NaN  90.0  96.0
3  68.0  80.0  86.0   NaN
4   NaN  86.0  86.0  83.0

Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Comparison result:
      W      X     Y     Z
0  True   True  True  True
1  True  False  True  True
2  True   True  True  True
3  True  False  True  True

#### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [101]:
import pandas as pd

input_string = "abc def abcdef icd"
char_series = pd.Series(list(input_string))
freq = char_series.value_counts()
least_frequent_char = freq.idxmin()
result = char_series.replace(' ', least_frequent_char)
output_string = ''.join(result)

print("Original series:")
print(char_series.value_counts())
print("\nModified string:", output_string)

Original series:
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64

Modified string: abcidefiabcdefiicd

# Pandas DataFrame

#### 9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [178]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index = labels)
print(df, end = "\n" + "-"*40 + "\n")
unavailable_score = df[df['score'].isna()]
print(unavailable_score)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
----------------------------------------
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

#### 16. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [137]:
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 
                      'Matthew', 'Laura', 'Max', 'Kevin', 'Jonas', 'Suresh'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 10, 8, 19, 15.5],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 1, 2, 1, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

df = pd.DataFrame(exam_data, index = labels)
print(df)

sorted_df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print(sorted_df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i        Max   10.0         1      no
j      Kevin    8.0         2      no
k      Jonas   19.0         1     yes
l     Suresh   15.5         1     yes
        name  score  attempts qualify
l     Suresh   15.5         1     yes
f    Michael   20.0         3     yes
i        Max   10.0         1      no
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
j      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
k      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

#### 40. Write a Pandas program to shuffle a given DataFrame rows.

In [133]:
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily'],
             'score': [12.5, 9, 16.5, 9, 8]}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)

df_shuffled = df.sample(frac=1).reset_index(drop=True)

print("\nShuffled DataFrame:")
print(df_shuffled)

Original DataFrame:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    9.0
e      Emily    8.0

Shuffled DataFrame:
        name  score
0  Katherine   16.5
1       Dima    9.0
2      James    9.0
3  Anastasia   12.5
4      Emily    8.0

#### 17. Replace the 'qualify' column values from 'yes'/'no' to True/False

In [180]:
# df['qualify'] = df['qualify'].replace({'yes': True, 'no': False}) this dows not woek
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False}).astype(bool)
print("Replace 'yes'/'no' with True/False:")
print(df)

Replace 'yes'/'no' with True/False:
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

C:\Users\DeepADabhi\AppData\Local\Temp\ipykernel_2280\1230947202.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['qualify'] = df['qualify'].replace({'yes': True, 'no': False}).astype(bool)

#### 21. Write a Pandas program to iterate over rows in a DataFrame.

In [149]:
for index, value in df.iterrows():
    print(value['name'], value['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5
James nan
Emily 9.0
Michael 20.0
Matthew 14.5
Laura nan
Max 10.0
Kevin 8.0
Jonas 19.0
Suresh 15.5

In [156]:
row_value_0 = df.loc[0]
row_value_3 = df.loc[3]

print("Value of Row 0:\n", row_value_0)
print("Value of Row 3:\n", row_value_3)

Value of Row 0:
 W    80.0
X    78.0
Y    84.0
Z    86.0
Name: 0, dtype: float64
Value of Row 3:
 W    68.0
X    80.0
Y    86.0
Z     NaN
Name: 3, dtype: float64

In [182]:
df

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

# Pandas Index

#### 5. Create DataFrame with Intervals as Index

In [188]:
import pandas as pd
df_interval = pd.DataFrame({
    'ID': ['s001', 's002', 's003', 's004'],
    'Age': [35, 32, 33, 32]
}, index=pd.interval_range(start=0, end=4, freq=1))

print("\nDataFrame with IntervalIndex:")
print(df_interval)

DataFrame with IntervalIndex:
          ID  Age
(0, 1]  s001   35
(1, 2]  s002   32
(2, 3]  s003   33
(3, 4]  s004   32